.home-wrapper {
    margin: auto;
    padding: 10px;
    max-width: 740px;
}

.home-wrapper .all-posts-wrapper {
    margin-top: 20px;
}

.home-wrapper .all-posts-wrapper .post-heading {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.home-wrapper .all-posts-wrapper .post-heading h2 {
    font-weight: 400;
    display: inline-block;
}

.home-wrapper .all-posts-wrapper .post-heading:hover {
    color: rgb(227, 59, 59);
    /* red colour theme */
    transition: 0.1s;
}

.home-wrapper .all-posts-wrapper .post-heading-disabled {
    color: black;
    font-size: 20px;
    cursor: default;
}

.home-wrapper .all-posts-wrapper .post-heading-disabled h2 {
    font-weight: 400;
    display: inline-block;
}

.home-wrapper .all-posts-wrapper .post-read-more {
    color: #0076d9;
    font-size: 19px;
    display: inline-block;
    text-decoration: none;
}
.home-wrapper .all-posts-wrapper .post-read-more:hover {
    text-decoration: underline;
}

.home-wrapper .all-posts-wrapper .post-date {
    color: grey;
    margin-top: -10px;
    margin-bottom: 30px;
}

.home-wrapper .all-posts-wrapper .post-tldr {
    color: rgb(53, 53, 53);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 23px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.home-wrapper .all-posts-wrapper .post-cover-image-wrapper {
    width: 100%;
    max-width: 100%;
    overflow: hidden;

}

.home-wrapper .all-posts-wrapper .post-cover-image-wrapper img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit:cover;
    display: block;

}

.home-wrapper .all-posts-wrapper {
    padding-bottom: 20px;
    border-bottom: 3px dotted rgb(204, 204, 204);
}
.home-wrapper .all-posts-wrapper:last-child {
    border-bottom: none;
}

/* If the browser window is 650px or smaller */
@media only screen and (max-width: 650px) {
    .home-wrapper .all-posts-wrapper {
        margin-top: 0px;
    }
  }