.post-wrapper {
  margin-top: 20px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.post-wrapper .post-markdown-wrapper {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 22px;
}

.post-wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.post-wrapper .post-date {
  color: grey;
  margin-top: -10px;
  margin-bottom: 30px;
}

.post-wrapper .post-heading {
  color: black;
  font-weight: 400;
  font-size: 32px;
}

.post-wrapper h3 {
  font-style: italic;
}

/* code block */
.post-wrapper pre {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(230, 230, 230);
  background-color: rgb(48, 48, 48);
  padding: 5px;
  text-wrap:wrap;
}

.post-wrapper pre code {
  color: white;
  background-color: rgb(48, 48, 48);
  padding: 0;
}

/* inline code */
.post-wrapper code {
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  background-color: #ececec;
  padding: 3px;
}

.post-wrapper table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.post-wrapper table td,
.post-wrapper table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.post-wrapper table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.post-wrapper table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9e9e9e;
  color: white;
}

.post-wrapper strong {
  color: rgb(227, 59, 59); /* red colour theme */
}

.post-wrapper .post-footer-wrapper h2 {
  margin-top: 40px;
  font-family: 'Shadows Into Light', cursive;
  color: rgb(227, 59, 59); /* red colour theme */
}

/* If the browser window is 650px or smaller */
@media only screen and (max-width: 650px) {
  .post-wrapper {
    margin-top: 0px;
  }

  .post-wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}